*.iml
.gradle
.idea
.DS_Store
.cxx
.externalNativeBuild
.kotlin

local.properties
client_secret*.json
client_*.plist
*.jks
*.apk
*.aab

# Build directories (all modules)
build/
**/build/

/captures
test_data/
