*.iml
.gradle
.idea
.DS_Store
.cxx
.externalNativeBuild
.kotlin
*.xcuserstate

local.properties
**/Secrets.xcconfig
client_secret*.json
client_*.plist
**/assets/service-account*.json
documentscanner-*.json
*.jks
*.apk
*.aab
*.ipa
AuthKey*.p8

# Build directories (all modules)
build/
**/build/

/captures
test_data/
